<%= flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
            <br>
            <h1><i class="far fa-calendar-check"></i><strong>予約画面</strong></h1>
            <br>
        </div>

        <div align="center"><b>※：<font color="#007BFF">●</font>予約可能日&nbsp;× : 予約済日&nbsp;- : 休診日&nbsp;<font color="#ff8c00">■</font>：<strong>選択日</strong>&nbsp;<font color="#D6FFD6">■</font>：<strong>予約可</strong></b>&nbsp;<font color="#474747">■</font>：<strong>過去予約不可</strong></b>
        </div>
        <div class="col-12 mt-3">
            <%= week_calendar events: @reservations do |date, reservations| %>
            <%= date.day %>
            <% end %>
        </div>
      </div>
    </div>