    <%= flash[:notice] %>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                    <p></p>
                    <h1 class="title">
                      <span>M</span>
                      <span>E</span>
                      <span>D</span>
                      <span>I</span>
                      <span>C</span>
                      <span>A</span>
                      <span>L</span>
                      <span>&nbsp;</span>
                      <span>C</span>
                      <span>L</span>
                      <span>I</span>
                      <span>N</span>
                      <span>I</span>
                      <span>C</span>
                    </h1></strong>
                </div>
            </div>
        </div>
        <div class="header"></div>
            <div class="row">
                <div class="col-auto mx-auto">
                    <div class="main">
                        <p></p>
                        <h4>Webで診察を容易に予約できる</h4>
                        <h4><i class="fas fa-arrow-alt-circle-right size2"></i>クリニックサイトです。</h4>
                        <p></p>
                        <h4>診察するお方はインターネットまたはお電話にて</h4>
                        <h4>予約していただきます。</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container text-center">
            <table class="table table-hover table-inverse">
                <thead>
                    <tr>
                        <td><div class="sign"><h2><i class="fas fa-hospital-user size3"></i>初診の方はこちら</h2>
                        <p></p>
                        <%= link_to "インターネット予約画面(初診)", new_patient_registration_path, class: 'btn btn-outline-primary btn-lg btn-br' %>
                        <td>
                        <td></td>
                        <td></td>
                        </div>
                        <td><div class="login"><h2><i class="fas fa-stethoscope size4"></i>再診の方はこちら</h2>
                        <p></p>
                        <%= link_to "インターネット予約画面(再診)", new_patient_session_path, class: 'btn btn-outline-success btn-lg btn-bs' %>
                        </td>
                        </div>
                    </tr>
                <thead>
            </table>
        </div>
        <br>
        <br>
        <div class="container-call text-center">
            <h2><i class="fas fa-phone-square-alt fa-lg size5"></i>電話予約の方はこちら</h2>
            <h5><strong>TEL:</strong>03-xxx-xxxx</h5>
        </div>

        <div class="jagged-wrap-inner">
        <div class="offset"></div>
        <div class="lightgray-bg jagged-border"></div>
        <div class="white-bg jagged-border"></div>
        <div class="darkgray-bg jagged-border"></div>
        </div>
    <%# end %>



    