
.simple-calendar {
  td {
    width: 10%;
    text-align: center;
    // background-color: ;
  }
  th {
    background-color: #FFFFCC;
  }
  .time {
    background-color: #FFFF99;
  }
   .today {
     background-color: #ff8c00;
   }
   .past {
     background-color: #474747;

   }
   .future {
     background-color: #D6FFD6;
   }
}