/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// トップページについて
// topのマークの色
.size1{
  color: #000000;
}


// topの矢印の色
.size2{
  color: #191970;
}
// 初診の方はこちらの色
.size3{
  color: #007BFF;
}

// 再診の方はこちらの色
.size4{
  color: #28A745;
}

// 再診の方はこちらの色
.size5{
  color: #000000;
}

// 予約のマークの色
.size6{
  color: #FF6347;
}

// マップのマークの色
.size7{
  color: #000000;
}

// topページのmain.jpegの画像について
.header {
background-image: image-url("main.jpeg");
height: 500px;
background-size: cover;
background-position: center;
}

// webで診察を容易に予約できる...について
.main {
background-color: #E6E7F9;
width: 500px;
height: 200px;
text-align: center;
background-position: center;
}

.sign {
  background-color: #EFF8FE;
  height: 150px;
  background-position: center;
}

.login {
  background-color: #EFF8FE;
  height: 150px;
  background-position: center;
}

.container-call {
  background-color: #DCDCDC;
  height: 100px;
  width: 100%;
  text-align: center;
}

.wrap {
  background: image-url('bg.svg');
}

.jagged-border {
  position: relative;
  width: 100%;
  height: 50px;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 1px 2px);
          filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 1px 2px);
}
.jagged-border:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}
.lightgray-bg {
  background: #ECF0F1;
}
.lightgray-bg:before {
  background: -webkit-linear-gradient(45deg, transparent 33.333%, #ecf0f1 33.333%, #ecf0f1 66.667%, transparent 66.667%), -webkit-linear-gradient(135deg, transparent 33.333%, #ecf0f1 33.333%, #ecf0f1 66.667%, transparent 66.667%);
  background: linear-gradient(45deg, transparent 33.333%, #ecf0f1 33.333%, #ecf0f1 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #ecf0f1 33.333%, #ecf0f1 66.667%, transparent 66.667%);
  background-size: 20px 40px;
}
.white-bg {
  background: #FFF;
}
.white-bg:before {
  background: -webkit-linear-gradient(45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%), -webkit-linear-gradient(135deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%);
  background: linear-gradient(45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%);
  background-size: 20px 40px;
}
.darkgray-bg {
  background: #C3C9CC;
}
.darkgray-bg:before {
  background: -webkit-linear-gradient(45deg, transparent 33.333%, #c3c9cc 33.333%, #c3c9cc 66.667%, transparent 66.667%), -webkit-linear-gradient(135deg, transparent 33.333%, #c3c9cc 33.333%, #c3c9cc 66.667%, transparent 66.667%);
  background: linear-gradient(45deg, transparent 33.333%, #c3c9cc 33.333%, #c3c9cc 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #c3c9cc 33.333%, #c3c9cc 66.667%, transparent 66.667%);
  background-size: 20px 40px;
}



/*topの初診クリック中のリンクの色*/
.btn-br {
  a:active {color:#fff;}
  color: initial!important;
}
/*クリック中のリンクの色*/
.btn-br:hover {color:#ffffff!important;}

.btn-br:focus {color:#ffffff!important;}

/*topの再診クリック中のリンクの色*/
.btn-bs {
  a:active {color:#fff;}
  color: initial!important;
}
/*クリック中のリンクの色*/
.btn-bs:hover {color:#ffffff!important;}

.btn-bs:focus {color:#ffffff!important;}

/*topの管理人のクリック中のリンクの色*/
.btn-ar {
  color:#38678b;
}
/*クリック中のリンクの色*/
.btn-ar:hover {color:#ffffff!important;}

.btn-ar:focus {color:#ffffff!important;}

/*sicksのクリック中のリンクの色*/
.btn-danger
  {background-color:#dc3545!important;}

/*クリック中のリンクの色*/
.btn-s:hover {color:#ffffff!important;}

.btn-s:focus {color:#ffffff!important;}


 /* 高さを指定することにより画像が表示される */
#box{
  height: 600px;
}
.image1 {
  background-image: image-url("ninti.png");
}
.image2 {
  background-image: image-url("suimin.png");
}
.image3 {
  background-image: image-url("tekiou.png");
}
.image4 {
  background-image: image-url("utu.png");
}

// スライドショーのバックグラウンドカラーを変更するとき
.skippr>div {
 background-color: gainsboro;
}

// 画像の大きさを指定
.container-skippr {
    height: 900px;
    width: 100%;
}

// skipprのボタン関連を変更するとき
.skippr-next {
 border-right: 3px solid black;
 border-bottom: 3px solid black;
}
.skippr-previous {
 border-top: 3px solid black;
 border-left: 3px solid black;
}

// topページへ戻る記述
.top-btn {
  position:   fixed;
  right:      30px;
  bottom:     40px;
}

.top-btn a {
  width:      50px;
  height:     50px;
}

// topページへ戻る、ボタンの大きさへの記述
.top-btn {
    width: 100px;
}

// aboutの地球儀について
.earth {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: -20px 0 3px rgba(0, 0, 0, 0.3) inset;
}
.earth:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-image: url("https://drive.google.com/uc?export=view&id=11chGBx0vAj79X4ph_fUXDQIYdRy9uqBV");
  background-position: 0 0;
  background-size: auto 100%;
  transform: rotate(23.4deg);
  animation: rotation 16s linear infinite;
}
@keyframes rotation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}


// 1文字ずつ登場するテキストアニメーション
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
  display: flex;
  overflow: hidden;
  color: #aa8f7b;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0px;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}
.title span:nth-child(8) {
  transition-delay: 0.42s;
}
.title span:nth-child(9) {
  transition-delay: 0.48s;
}
.title span:nth-child(10) {
  transition-delay: 0.54s;
}
.title span:nth-child(11) {
  transition-delay: 0.6s;
}
.title span:nth-child(12) {
  transition-delay: 0.66s;
}
.title span:nth-child(13) {
  transition-delay: 0.72s;
}
.title span:nth-child(14) {
  transition-delay: 0.78s;
}
