/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 /* 高さを指定することにより画像が表示される */
#box{
  height: 600px;
}
.image1 {
  background-image: image-url("ninti.png");
}
.image2 {
  background-image: image-url("suimin.png");
}
.image3 {
  background-image: image-url("tekiou.png");
}
.image4 {
  background-image: image-url("utu.png");
}

// スライドショーのバックグラウンドカラーを変更するとき
.skippr>div {
 background-color: gainsboro;
}

// 画像の大きさを指定
.container-skippr {
    height: 900px;
    width: 100%;
}

// skipprのボタン関連を変更するとき
.skippr-next {
 border-right: 3px solid black;
 border-bottom: 3px solid black;
}
.skippr-previous {
 border-top: 3px solid black;
 border-left: 3px solid black;
}

// topページへ戻る記述
.top-btn {
  position:   fixed;
  right:      30px;
  bottom:     40px;
}

.top-btn a {
  width:      50px;
  height:     50px;
}

// topページへ戻る、ボタンの大きさへの記述
.top-btn {
    width: 100px;
}

